*,*::after,*::before {
  box-sizing: border-box;
}

html,body{
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

body {
    height: 100%;
    background-color: #fafafa;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.container {
    position: relative;
    width: 100%;
    max-width: 90%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 20px;
}

h4.containerHead {
    position: absolute;
    left: 10px;
    top: -10px;
    font-size: 1.4em;
    color: lightslategray;
}

h1.pageHeader {
    font-family: monospace;
    font-size: 3em;
    color: #403c3c;
}